<sdf version="1.7">
  <!-- Model: yoda_car_model -->
  <model name="yoda_car_model">
    
    <!-- Link 1 -->
    <link name="link_1">
      <inertial>
        <mass>1</mass>
        <inertia>
          <ixx>0.166667</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.166667</iyy>
          <iyz>0</iyz>
          <izz>0.166667</izz>
        </inertia>
      </inertial>
      <pose>-0.094832 0.015297 0.069631 0 0 0</pose>
      
      <!-- Visual (Car Body) -->
      <visual name="visual">
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>/home/safa/yoda_ws/src/yoda_cpp_package/urdf/arackasa2.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <lighting>1</lighting>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Grey</name>
          </script>
          <shader type="pixel" />
          <emissive>0 0 0 1</emissive>
        </material>
        <transparency>0</transparency>
        <cast_shadows>1</cast_shadows>
      </visual>

      <!-- Collision (Car Body) -->
      <collision name="collision">
        <laser_retro>0</laser_retro>
        <max_contacts>10</max_contacts>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>/home/safa/yoda_ws/src/yoda_cpp_package/urdf/arackasa2.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>1</mu>
              <mu2>1</mu2>
              <fdir1>0 0 0</fdir1>
              <slip1>0</slip1>
              <slip2>0</slip2>
            </ode>
            <torsional>
              <coefficient>1</coefficient>
              <patch_radius>0</patch_radius>
              <surface_radius>0</surface_radius>
              <use_patch_radius>1</use_patch_radius>
              <ode>
                <slip>0</slip>
              </ode>
            </torsional>
          </friction>
          <bounce>
            <restitution_coefficient>0</restitution_coefficient>
            <threshold>1e+06</threshold>
          </bounce>
          <contact>
            <collide_without_contact>0</collide_without_contact>
            <collide_without_contact_bitmask>1</collide_without_contact_bitmask>
            <collide_bitmask>1</collide_bitmask>
            <ode>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+13</kp>
              <kd>1</kd>
              <max_vel>0.01</max_vel>
              <min_depth>0</min_depth>
            </ode>
            <bullet>
              <split_impulse>1</split_impulse>
              <split_impulse_penetration_threshold>-0.01</split_impulse_penetration_threshold>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+13</kp>
              <kd>1</kd>
            </bullet>
          </contact>
        </surface>
      </collision>

      <!-- Camera Sensor -->
      <sensor name="camera_sensor" type="camera">
        <update_rate>10</update_rate>
        <camera>
          <horizontal_fov>2.094</horizontal_fov>
          <image>
            <width>800</width>
            <height>600</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>100</far>
          </clip>
        </camera>
        <plugin name="ros2_camera_plugin" filename="libgazebo_ros_camera.so">
          <ros>
            <namespace>/yoda</namespace>
            <remapping>image_raw:=/yoda/camera/image_raw</remapping>
          </ros>
          <camera_name>camera</camera_name>
          <frame_name>camera_link</frame_name>
        </plugin>
        <pose>0.8 0 1.0 0 0 0</pose>
      </sensor>

      <!-- Camera Visual -->
      <visual name="camera_visual">
        <geometry>
          <box>
            <size>0.05 0.05 0.05</size>
          </box>
        </geometry>
        <material>
          <ambient>0.0 0.5 1.0 0.5</ambient>
        </material>
        <pose>0.8 0 1.0 0 0 0</pose>
      </visual>

      <!-- Lidar Sensor -->
      <sensor name="lidar_sensor" type="ray">
        <pose>0.0 0.0 1.7 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>5</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1.0</resolution>
              <min_angle>-3.14159</min_angle>
              <max_angle>3.14159</max_angle>
            </horizontal>
            <vertical>
              <samples>20</samples>
              <resolution>1.0</resolution>
              <min_angle>-0.78539</min_angle>
              <max_angle>0.78539</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.1</min>
            <max>15.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="ros2_lidar_plugin" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>/yoda</namespace>
            <remapping>~/out:=lidar/scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>lidar_link</frame_name>
        </plugin>
      </sensor>

      <!-- Lidar Visual -->
      <visual name="lidar_visual">
        <pose>0.0 0.0 1.7 0 0 0</pose>
        <geometry>
          <cylinder>
            <radius>0.05</radius>
            <length>0.1</length>
          </cylinder>
        </geometry>
        <material>
          <ambient>0.0 0.5 0.0 1</ambient>
        </material>
      </visual>

      <!-- IMU Sensor -->
      <sensor name="imu_sensor" type="imu">
        <pose>0 0 0.7 0 0 0</pose>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
          <ros>
            <namespace>/yoda</namespace>
            <remapping>~/out:=imu/data</remapping>
          </ros>
          <frame_name>imu_link</frame_name>
          <output_type>sensor_msgs/Imu</output_type>
        </plugin>
      </sensor>

      <!-- IMU Visual -->
      <visual name="imu_visual">
        <pose>0.0 0.0 0.7 0 0 0</pose>
        <geometry>
          <box>
            <size>0.05 0.05 0.02</size>
          </box>
        </geometry>
        <material>
          <ambient>1.0 1.0 0.0 1</ambient>
        </material>
      </visual>
    </link>

	<link name="link_2">
	  <inertial>
	    <mass>1</mass>
	    <inertia>
	      <ixx>0.166667</ixx>
	      <ixy>0</ixy>
	      <ixz>0</ixz>
	      <iyy>0.166667</iyy>
	      <iyz>0</iyz>
	      <izz>0.166667</izz>
	    </inertia>
	  </inertial>
	  <pose>-0.094832 0.015297 0.069631 0 0 0</pose>
	  
	  <!-- Visual (Car Body) -->
	  <visual name="visual">
	    <pose>0 0 0 0 0 0</pose>
	    <geometry>
	      <mesh>
		<uri>/home/safa/yoda_ws/src/yoda_cpp_package/urdf/arackasa2.dae</uri>
		<scale>1 1 1</scale>
	      </mesh>
	    </geometry>
	    <material>
	      <lighting>1</lighting>
	      <script>
		<uri>file://media/materials/scripts/gazebo.material</uri>
		<name>Gazebo/Grey</name>
	      </script>
	      <shader type="pixel" />
	      <emissive>0 0 0 1</emissive>
	    </material>
	    <transparency>0</transparency>
	    <cast_shadows>1</cast_shadows>
	  </visual>

	  <!-- Collision (Car Body) -->
	  <collision name="collision">
	    <laser_retro>0</laser_retro>
	    <max_contacts>10</max_contacts>
	    <pose>0 0 0 0 0 0</pose>
	    <geometry>
	      <mesh>
		<uri>/home/safa/yoda_ws/src/yoda_cpp_package/urdf/arackasa2.dae</uri>
		<scale>1 1 1</scale>
	      </mesh>
	    </geometry>
	    <surface>
	      <friction>
		<ode>
		  <mu>1</mu>
		  <mu2>1</mu2>
		  <fdir1>0 0 0</fdir1>
		  <slip1>0</slip1>
		  <slip2>0</slip2>
		</ode>
		<torsional>
		  <coefficient>1</coefficient>
		  <patch_radius>0</patch_radius>
		  <surface_radius>0</surface_radius>
		  <use_patch_radius>1</use_patch_radius>
		  <ode>
		    <slip>0</slip>
		  </ode>
		</torsional>
	      </friction>
	      <bounce>
		<restitution_coefficient>0</restitution_coefficient>
		<threshold>1e+06</threshold>
	      </bounce>
	      <contact>
		<collide_without_contact>0</collide_without_contact>
		<collide_without_contact_bitmask>1</collide_without_contact_bitmask>
		<collide_bitmask>1</collide_bitmask>
		<ode>
		  <soft_cfm>0</soft_cfm>
		  <soft_erp>0.2</soft_erp>
		  <kp>1e+13</kp>
		  <kd>1</kd>
		  <max_vel>0.01</max_vel>
		  <min_depth>0</min_depth>
		</ode>
		<bullet>
		  <split_impulse>1</split_impulse>
		  <split_impulse_penetration_threshold>-0.01</split_impulse_penetration_threshold>
		  <soft_cfm>0</soft_cfm>
		  <soft_erp>0.2</soft_erp>
		  <kp>1e+13</kp>
		  <kd>1</kd>
		</bullet>
	      </contact>
	    </surface>
	  </collision>
	</link>

	<link name="link_2_clone">
	  <inertial>
		<mass>1</mass>
		<inertia>
		  <ixx>0.166667</ixx>
		  <ixy>0</ixy>
		  <ixz>0</ixz>
		  <iyy>0.166667</iyy>
		  <iyz>0</iyz>
		  <izz>0.166667</izz>
		</inertia>
	  </inertial>
	  <pose>-0.094832 0.015297 0.069631 0 0 0</pose>
	  
	  <!-- Visual (Car Body) -->
	  <visual name="visual">
		<pose>0 0 0 0 0 0</pose>
		<geometry>
		  <mesh>
		    <uri>/home/safa/yoda_ws/src/yoda_cpp_package/urdf/arackasa2.dae</uri>
		    <scale>1 1 1</scale>
		  </mesh>
		</geometry>
		<material>
		  <lighting>1</lighting>
		  <script>
		    <uri>file://media/materials/scripts/gazebo.material</uri>
		    <name>Gazebo/Grey</name>
		  </script>
		  <shader type="pixel" />
		  <emissive>0 0 0 1</emissive>
		</material>
		<transparency>0</transparency>
		<cast_shadows>1</cast_shadows>
	  </visual>

	  <!-- Collision (Car Body) -->
	  <collision name="collision">
		<laser_retro>0</laser_retro>
		<max_contacts>10</max_contacts>
		<pose>0 0 0 0 0 0</pose>
		<geometry>
		  <mesh>
		    <uri>/home/safa/yoda_ws/src/yoda_cpp_package/urdf/arackasa2.dae</uri>
		    <scale>1 1 1</scale>
		  </mesh>
		</geometry>
		<surface>
		  <friction>
		    <ode>
		      <mu>1</mu>
		      <mu2>1</mu2>
		      <fdir1>0 0 0</fdir1>
		      <slip1>0</slip1>
		      <slip2>0</slip2>
		    </ode>
		    <torsional>
		      <coefficient>1</coefficient>
		      <patch_radius>0</patch_radius>
		      <surface_radius>0</surface_radius>
		      <use_patch_radius>1</use_patch_radius>
		      <ode>
		        <slip>0</slip>
		      </ode>
		    </torsional>
		  </friction>
		  <bounce>
		    <restitution_coefficient>0</restitution_coefficient>
		    <threshold>1e+06</threshold>
		  </bounce>
		  <contact>
		    <collide_without_contact>0</collide_without_contact>
		    <collide_without_contact_bitmask>1</collide_without_contact_bitmask>
		    <collide_bitmask>1</collide_bitmask>
		    <ode>
		      <soft_cfm>0</soft_cfm>
		      <soft_erp>0.2</soft_erp>
		      <kp>1e+13</kp>
		      <kd>1</kd>
		      <max_vel>0.01</max_vel>
		      <min_depth>0</min_depth>
		    </ode>
		    <bullet>
		      <split_impulse>1</split_impulse>
		      <split_impulse_penetration_threshold>-0.01</split_impulse_penetration_threshold>
		      <soft_cfm>0</soft_cfm>
		      <soft_erp>0.2</soft_erp>
		      <kp>1e+13</kp>
		      <kd>1</kd>
		    </bullet>
		  </contact>
		</surface>
	  </collision>
	</link>


  </model>
</sdf>

